<footer class="bg-white dark:bg-gray-900">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
      <div class="md:flex md:justify-between">
        <!-- Logo and Branding -->
        <div class="mb-6 md:mb-0">
          <a href="/" class="flex items-center">
            <img src="https://telegra.ph/file/1817b3a3d6c22f015c00b.png" class="h-8 me-3" alt="NDRESSILIK Logo" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">NDRESSILIK</span>
          </a>
        </div>
        
        <!-- Navigation Links -->
        <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
          <div>
            <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Nos Services</h2>
            <ul class="text-gray-500 dark:text-gray-400 font-medium">
              <li class="mb-4">
                <a href="/services" class="hover:underline">Trouver un Educateur</a>
              </li>
              <li>
                <a href="/marketplace" class="hover:underline">Marketplace</a>
              </li>
            </ul>
          </div>
          
          <div>
            <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Suivez-Nous</h2>
            <ul class="flex space-x-4">
              <li>
                <a href="https://instagram.com/ndressilik" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                  <img src="https://cdn4.iconfinder.com/data/icons/picons-social/57/38-instagram-2-512.png" class="w-6 h-6" alt="Instagram" />
                </a>
              </li>
              <li>
                <a href="mailto:ndressilik@gmail.com" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                  <img src="https://cdn4.iconfinder.com/data/icons/aiga-symbol-signs/439/aiga_mail-256.png" class="w-6 h-6" alt="Email" />
                </a>
              </li>
            </ul>
          </div>
          
          <div>
            <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Informations</h2>
            <ul class="text-gray-500 dark:text-gray-400 font-medium">
              <li class="mb-4">
                <a href="/about" class="hover:underline">À Propos</a>
              </li>
              <li>
                <a href="/contact" class="hover:underline">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
      
      <div class="sm:flex sm:items-center sm:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 NDRESSILIK™. Tous droits réservés.</span>
      </div>
    </div>
  </footer>
  
<script>
     $(document).ready(function(){
         $('#register-form').parsley();
     });
 </script>
 <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</body>
</html>