<%- include('../partials/head.ejs') %>
<%- include('../partials/navbar.ejs') %>

<div class="min-h-screen bg-gray-100">
  <section class="container mx-auto px-4 py-16">
    <h1 class="text-4xl font-bold text-center mb-8">Contactez-Nous</h1>

    <div class="max-w-2xl mx-auto text-lg leading-relaxed">
      <p class="mb-6 text-center">
        Nous serions ravis d'entendre de vous! Si vous avez des questions, des commentaires ou si vous souhaitez en savoir plus sur nos services, n'hésitez pas à nous contacter.
      </p>

      <!-- Contact Information -->
      <div class="space-y-6">
        <!-- Email -->
        <div class="flex items-center space-x-4">
          <img src="https://cdn4.iconfinder.com/data/icons/aiga-symbol-signs/439/aiga_mail-256.png" alt="Email Icon" class="h-6 w-6 text-gray-600" />
          <a href="mailto:ndressilik@gmail.com" class="text-blue-600 hover:underline">
            ndressilik@gmail.com
          </a>
        </div>

        <!-- Instagram -->
        <div class="flex items-center space-x-4">
          <img src="https://cdn4.iconfinder.com/data/icons/picons-social/57/38-instagram-2-512.png" alt="Instagram Icon" class="h-6 w-6 text-gray-600" />
          <a href="https://instagram.com/ndressilik" target="_blank" class="text-blue-600 hover:underline">
            instagram.com/ndressilik
          </a>
        </div>
      </div>
    </div>

    <div class="mt-10 text-center">
      <a href="/" class="btn btn-primary">Retour à l'accueil</a>
    </div>
  </section>
</div>

<%- include('../partials/footer.ejs') %>
